--- ./sql/values.config.orig	2013-11-26 08:39:10.000000000 +0900
+++ ./sql/values.config	2014-03-11 15:36:46.000000000 +0900
@@ -4,7 +4,7 @@
  commands, and minor version bumps for schema changes.
 */
 
-INSERT INTO config VALUES ('__DSVERSION__', '4.0.0');
+INSERT INTO config VALUES ('__DSVERSION__', '4.0.1');
 INSERT INTO config VALUES ('CCACHE_ENABLED', '0');
 INSERT INTO config VALUES ('CCACHE_DIR', '');
 INSERT INTO config VALUES ('CCACHE_NOLINK', '1');
